.file-upload-label{
  font-size: 14px;
  margin-bottom: 6px;
  color: #333
}

.file-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer
}

input[type=file] {
  display: none
}

.label {
  color: #555;
  font-size: 13px;
  margin-bottom: 6px
}