:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box
}

body {
  font-family: Inter, Arial, sans-serif
}

.app {
  width: 100%;
  margin: 20px auto;
  background: white;
  padding: 20px
}

h1 {
  margin-bottom: 10px
}