name: Build Frontend Docker Image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1. Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2. Inject .env file dari GitHub Secrets
      - name: Create .env file
        run: |
          echo "VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}" >> .env

      # Step 3. Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 4. Build Docker image
      - name: Build Docker image
        run: docker build -t bank-statement-frontend .
